<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    	<link rel="stylesheet" type="text/css" media="all" href="../../css/SoruEkle.css" th:href="@{/css/SoruEkle.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
 <h1>sinavOlustur</h1>

</body>
</html>